node_modules/
.editorconfig
npm-debug.log
.idea/
e2e/
/.metadata/


# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

.recommenders/
*/bin/*

hash-rest/src/ophcrack-3.7.0-bin/*

gs-rest*

*.old*
hash-rest/src/ophcrack-3.7.0-bin.zip
