node_modules/
.editorconfig
npm-debug.log
.idea/
e2e/
/.metadata/


# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

.recommenders/
*/bin/*

*.zip
hash-rest/crack-resources/ophcrack-3.7.0-bin/*
hash-rest/crack-resources/tables_xp_free_fast/*
hash-rest/crack-resources/tempFiles/*

gs-rest*

!**/.keep
