<!DOCTYPE html>
<! Mockup of the main password cracking page>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hash Cracker</title>
</head>
<body>
<div class="m-2">
  <div class="navbar bg-primary rounded p-3">
    <a class="navbar-brand text-light">LM Hash Cracker</a>
  </div>

  <div class="m-4">
    <div class="container">
      <div class="row">

        <div class="col">
          <hash-crack></hash-crack>
        </div>

        <div class="col">
          <hash-gen></hash-gen>
        </div>
      </div>
      <div class="row">
        <div class="text-danger">
          You may need to press the submit button twice
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
