<p class="text-md">Enter an LM Hash to be guessed</p>

<form class="m-2" [formGroup]="crackForm" (ngSubmit)="submitForm(crackForm.value)">
  <div class="form-group">
    <label>Hash Value</label>
    <input type="text" class="form-control" formControlName="hashtext"/>
    <div class="text-danger" *ngIf="!crackForm.controls['hashtext'].valid && crackForm.controls['hashtext'].touched">
      {{hashValueAlert}}
    </div>
    <button type="submit" class="py-1 btn btn-primary" [disabled]="!crackForm.valid">
      Find Password
    </button>
  </div>

  <div *ngIf="hasApiError">
    <div class="text-danger py-1">
      Error: {{error.message}}
    </div>
  </div>


  <div *ngIf="passwordFound">
    <div class="text-info py-1">
      Plaintext: {{secret?.plaintext}}
    </div>
    <div class="text-danger py-1">
      LM Hash: {{secret?.lmHash?.hashedPlaintext}}
    </div>
    <div class="text-info py-1">
      Date Found: {{secret?.lmHash?.metadata?.instantFound}}
    </div>
    <div class="text-info py-1">
      Times Requested: {{secret?.lmHash?.metadata?.timesRequested}}
    </div>
    <div class="text-info py-1">
      Seconds to crack: {{secret?.lmHash?.metadata?.secondsToFind}}
    </div>
  </div>
</form>
